.mat-mdc-card {
    max-width: 640px;
    margin: 0;
}

.mat-mdc-card-header {
    margin-bottom: 16px;
}

.mat-mdc-card-actions {
    margin-top: 16px;
}

.mat-divider {
    margin: 1em 0;
}

h3 {
    font-size: 18px;
    display: flex;
    align-items: center;
}

h3>span {
    margin-right: 8px;
}

p {
    margin-left: 64px;
}